<template>
  <div  class="ui search" id='alumno'>
    <div style="width: ${width};" class="ui icon input">
      <input id="socio-search" style="" class="prompt fluid" type="text" placeholder="Alumno">
      <i class="user icon"></i>
    </div>
    <i class="erase icon" style="cursor:pointer" click.delegate="clearSocioId()"></i>
  </div>
</template>
