<template>
  <require from="./../nav-bar.html"></require>
  <nav-bar auth.bind="auth" carro-service.bind="carroService" router.bind="router"></nav-bar>
  <div class="ui main text">
    <router-view></router-view>
  </div>
</template>
