<template>
  <require from='./../components/sociosSearch'></require>
  <require from='./../converters/currency-converter'></require>
  <require from='./../converters/date-converter'></require>
  <require from='./cobranza.css'></require>
  <div class="ui grid">
    <!-- Columna de pago y vista del detalle del consumo clickeado -->
    <div class="sixteen wide mobile seven wide tablet six wide computer column">
      <!-- Búsqueda/ingreso de socio -->
      <div class="ui segment">
        <socios-search socio-id.bind="socioId" min-characters="3" max-results="50"></socios-search>
      </div>
      <!-- Pago y detalle del consumo-->

      <div show.bind="socioId">
        <!-- Pago -->
        <div class="ui top attached segment">
          <div class="ui top attached label">Pago</div>
          <form submit.delegate="registraPago()" class="ui form">
            <div class="fields">
              <!-- Input para el pago -->
              <div class="field">
                <div class="ui labeled input">
                  <div class="ui label">
                    $
                  </div>
                  <input placeholder="${saldo | currencyFormat}" type="text" id="pago" value.bind="pago">
                </div>
              </div>
              <!-- Botón de registro del pago -->
              <div class="field">
                <button type="submit" class="ui right floated basic primary button registra-el-pago" show.bind="pago > 0">
                  Registra el pago
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- Mensajes sobre el pago -->
        <div show.bind="pago > 0" class="ui ${(resto > 0) ? '' : 'bottom'} attached success message">
          <p>Está ingresando un pago de ${pago | currencyFormat}</p>
        </div>
        <div show.bind="resto > 0" class="ui bottom attached warning message">
          <p show.bind="saldo">${saldo | currencyFormat} cancela la deuda</p>
          <p >${resto | currencyFormat} se registran a cuenta</p>
        </div>
        <!-- Detalle del consumo seleccionado -->
        <div show.bind="docActivo && docActivo.det && docActivo.det.length">
          <div class="ui top attached segment">
            <div class="ui top attached label fluid ">Detalle del consumo seleccionado
              <span style="float:right">
                ${docActivo.fecha | dateFormat}</span>
            </div>
          </div>
          <!-- tabla para mostrar el detalle de un consumo al ser clickeado -->
          <table class="ui bottom attached table">
            <tbody>
              <tr repeat.for="det of docActivo.det">
                <td>${det.detalle}</td>
                <td class="right aligned">${det.importe | currencyFormat}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Total</th>
                <th class="right aligned">${docActivo.total | currencyFormat}</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!-- Columna estado de cuenta -->
    <div show.bind="socioId" class="sixteen wide mobile nine wide tablet six wide computer column">
      <!-- Filtro de fecha para mandar a getDocDet y traer la cuenta filtrada -->
      <div style="width:230px">
        <div class="ui labeled icon fluid input">
          <div class="ui label">Desde fecha</div>
          <input id="fecha" type="text" value.bind="fecha & debounce:800">
          <i class="calendar icon"></i>
        </div>
      </div>
      <!-- Tabla para mostrar el estado de cuenta -->
      <table class="ui table selectable unstackable stripped celled">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Detalle</th>
            <th>Debe</th>
            <th>Haber</th>
            <th>Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">Saldo al ${fecha | dateFormat}</td>
            <td>${saldoAnt > 0 ? saldoAnt : '' | currencyFormat}</td>
            <td>${ ! (saldoAnt>=0) ? saldoAnt * -1 : '' | currencyFormat}</td>
            <td>${saldoAnt | currencyFormat}</td>
          </tr>
          <tr repeat.for="row of ctaParaMostrar" click.delegate="getDocDet(row, $event)">
            <td>${row.fecha | dateFormat}</td>
            <td>${row.detalle}</td>
            <td>${row.total > 0 ? row.total : '' | currencyFormat}</td>
            <td>${ ! (row.total >= 0) ? row.total * -1 : '' | currencyFormat}</td>
            <td>${row.saldoArrastre | currencyFormat}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan=4>Saldo</th>
            <th>${saldo | currencyFormat}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </template>
