<template>
  <require from='../components/sociosSearch'></require>
  <div class="ui message">
    <div class="header">
      <div class="ui message" show.bind="!lector.ready">Lector desconectado</div>
      <div class="ui message">Seleccione un alumno para tomar su huella</div>
    </div>
    <div class="ui divider"></div>
    <socios-search socio-id.two-way="socioId" width="260px" min-characters="0" max-results="50"></socios-search>
    <div show.bind="socioId && lector.ready" class="ui divider"></div>
    <!-- <div class="ui relaxed divided list">
      <div class="item"><button class="ui primary basic button" click.delegate="enroll(33479)">Enroll 33479</button></div>
      <div class="item"><button class="ui primary basic button" click.delegate="enroll(33479)">Enroll 33479</button></div>
      <div class="item"><button class="ui primary basic button" click.delegate="enroll(33480)">Enroll 33480</button></div>
      <div class="item"><button class="ui primary basic button" click.delegate="enroll(33478)">Enroll 33478</button></div>
      <div class="item"><button class="ui primary basic button" click.delegate="enroll(33481)">Enroll 33481</button></div>
      <div class="item"><button class="ui positive basic button" click.delegate="check()">Capture</button></div>
    </div> -->

    <button show.bind="socioId && lector.ready" class="ui right labeled icon button" click.delegate="enroll()">
      <i class="right thumbs tutline up icon"></i>Enroll</button>
    <div class="ui divider"></div>
    <h4 class="ui header">
      <i class="erase icon"></i>
      <div class="content">
        <a click.delegate="deleteTemplates()" style="cursor:pointer">
          <span class="${!lector.ready ? 'disabled':''}">Delete templates</span>
        </a>
      </div>
    </h4>
  </div>
</template>
