<template>
    <require from="./menu.css"></require>
    <require from="./articulos"></require>
    <require from="./carro"></require>
    <div class="ui stackable grid">
        <div class="eleven wide tablet twelve wide computer thirteen wide large screen fourteen wide widescreen column">
            <articulos articulos.bind="articulos"></articulos>
        </div>
        <div id="carro-div" class="five wide tablet four wide computer three wide large screen two wide widescreen floated right column sticky">
            <carro articulos.bind="carroService.articulos"></carro>
        </div>
    </div>
</template>
