#carro-div {
    overflow: auto;
    bottom: 0;
    height: 507px;
    border-radius: 5px;
    border: 1px solid rgba(34,36,38,.15);
    margin: -13px !important;
}
table {
    border: none!important;
}
th {
    padding: 0;
    margin: 0;
}
@media only screen and (min-width:  768px) {
    .sticky {
        position: fixed !important;
        overflow:auto;
        bottom:15px !important;
    }
}
