<template>
  <require from="./carro.js"></require>
  <require from="converters/debug-converter.js"></require>
  <carro articulos.bind="carroService.articulos"></carro>
  ${carroService.articulos | debug}
</template>
